
.form-group{
	width:50%;
	position: relative;
	top:30%;
	left:30%;
}

.btn{
	background: #00BFFF;
	width:50%;
	font-size: medium;

}

.link{
	left:30%;
	position: relative;
}

.login-error{
	left:30%;
	position: relative;
}